{{#> layout}}
{{#*inline "title"}}
<title>Welcome to SparkCare</title>
{{/inline}}

{{#*inline "content"}}

<p style="">Hello {{ name }},</p>
<p>
  Welcome to SparkCare! You&apos;ve been added as a {{ role }} in {{ companyName }}. Here are your login details:
</p>
<p>
  <strong>Company ID:</strong> {{ companyId }}<br>
  <strong>Email:</strong> {{ email }}<br>
  <strong>Password:</strong> {{ password }}
</p>
<p>
  Kindly install the SparkCare app at <a href="{{ appLink }}" style="color: #2051E5; text-decoration: underline;">this link</a> and log in using your
  credentials.
</p>
<p>
  If you have any questions or need assistance, please feel free to contact your company at {{ adminContactInfo }}.
</p>
<p>
  Best regards,
</p>
<p>
  The SparkCare Team
</p>
{{/inline}}
{{/layout}}